.App {
  font-family: Arial, sans-serif;
  text-align: center;
  margin-top: 20px;
  color: #f5f5f5;

  }
  body {
    background: url("src/assets/landscape.gif") no-repeat center center fixed;
    background-size: cover;
  }
  /* body {
    background: url("src/assets/fireworks.mp4") no-repeat center center fixed;
    background-size: cover;
  } */
  /* body {
    background: url("https://media.giphy.com/media/3oriO0OEd9QIDdllqo/giphy.gif") no-repeat center center fixed;
    background-size: cover;
  } */
  
input {
  padding: 10px;
  font-size: 16px;
  margin-bottom: 20px;
  background: transparent; /* Przezroczyste tło */
  color: #f5f5f5; /* Jasny kolor, ale nie biały */
}
input::placeholder {
  color: #f5f5f5; /* Jasny kolor, ale nie biały */
}
.character-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.character {
  border: 1px solid #ddd;
  margin: 10px;
  padding: 10px;
  text-align: center;
  width: 200px;
}

.character img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.character {
  
  color: #f5f5f5; /* Jasny kolor, ale nie biały */
}